.main-example {
    margin: 0 auto;
    width: 355px;
}

.main-example .countdown-container {
    height: 130px;
}

.main-example .time {
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 95px;
    perspective: 479px;
    position: relative;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    width: 65px;
}

.main-example .count {
    background: #202020 none repeat scroll 0 0;
    color: #f8f8f8;
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    line-height: 2.4em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    transform: translateZ(0px);
    transform-style: flat;
    width: 100%;
}

.main-example .count.top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 50%;
    transform-origin: 50% 100% 0;
}

.main-example .count.bottom {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #000;
    height: 50%;
    line-height: 0;
    top: 50%;
    transform-origin: 50% 0 0;
}

.main-example .count.next {
}

.main-example .label {
    display: block;
    margin-top: 5px;
    position: absolute;
    top: 95px;
    width: 100%;
}

.main-example .count.curr.top {
    transform: rotateX(0deg);
    z-index: 3;
}

.main-example .count.next.bottom {
    transform: rotateX(90deg);
    z-index: 2;
}

.main-example .flip .count.curr.top {
    transform: rotateX(-90deg);
    transition: all 250ms ease-in-out 0s;
}

.main-example .flip .count.next.bottom {
    transform: rotateX(0deg);
    transition: all 250ms ease-in-out 250ms;
}

@media screen and (max-width: 48em) {
    .main-example {
        width: 100%;
    }

    .main-example .countdown-container {
        height: 100px;
    }

    .main-example .time {
        height: 70px;
        width: 48px;
    }

    .main-example .count {
        font-size: 1.5em;
        line-height: 70px;
    }

    .main-example .label {
        font-size: 0.8em;
        top: 72px;
    }
}