/*--- Fonts Import ---*/
/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    /* Number */
    font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
}

@font-face {
    /* Body */
    font-family: 'Helvetica 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
    /* Title */
    font-family: 'Helvetica Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeueBold.woff') format('woff');
}

/*--- Fonts ---*/
body, .fNormal { /*font-family: 'Helvetica 65 Medium', Helvetica, Arial, sans-serif;*/
    font-family: 'Helvetica', 'Helvetica 65 Medium', Arial, sans-serif;
}

.fTitle {
    font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.fNumber { /*font-family: 'Helvetica Neue LT Std 77 Bold Condensed', Helvetica, Arial, sans-serif;*/
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
}

/*----------------------------------------------------------------------------------------
          Set Bootstap CSS !! ONLY EDIT @MEDIA MAX-WIDTH !!
----------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-nav {
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn-navbar {
        display: none;
    }

    .navbar .nav-collapse {
        clear: none;
    }

    .nav-collapse {
        height: auto;
        overflow: auto;
    }

    .navbar .nav {
        float: left;
        margin: 0 10px 0 0;
    }

    .navbar .brand {
        margin-left: -20px;
        padding: 8px 20px 12px;
    }

    .navbar .dropdown-menu:before, .navbar .dropdown-menu:after {
        display: block;
    }

    .navbar .nav > li > a, .navbar .dropdown-menu a {
        border-radius: 0;
        color: #999999;
        font-weight: normal;
        padding: 10px 10px 11px;
    }

    .navbar .nav > li {
        float: left;
    }

    .navbar .dropdown-menu {
        background-clip: padding-box;
        background-color: #FFFFFF;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 0 0 5px 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        left: 0;
        list-style: none outside none;
        margin: 0;
        min-width: 160px;
        padding: 4px 0;
        position: absolute;
        top: 100%;
        z-index: 1000;
    }

    .navbar-form, .navbar-search {
        border: none;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
        float: left;
        margin-bottom: 0;
        margin-top: 6px;
        padding: 9px 15px;
    }

    .navbar .nav.pull-right {
        float: right;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .btn-navbar {
        display: block;
    }

    .navbar .nav-collapse {
        clear: left;
    }

    .nav-collapse {
        height: 0;
        overflow: hidden;
    }

    .navbar .nav {
        float: none;
        margin: 0 0 9px;
    }

    .navbar .brand {
        margin: 0 0 0 -5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar .dropdown-menu:before, .navbar .dropdown-menu:after {
        display: none;
    }

    .navbar .nav > li > a, .navbar .dropdown-menu a {
        border-radius: 3px 3px 3px 3px;
        color: #999999;
        font-weight: bold;
        padding: 6px 15px;
    }

    /*.navbar .nav > li {
        float: none;
    }*/
    .navbar .dropdown-menu {
        background-color: transparent;
        border: medium none;
        border-radius: 0 0 0 0;
        box-shadow: none;
        display: block;
        float: none;
        left: auto;
        margin: 0 15px;
        max-width: none;
        padding: 0;
        position: static;
        top: auto;
    }

    .navbar-form, .navbar-search {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
        float: none;
    }

    .navbar .nav.pull-right {
        float: none;
        margin-left: 0;
    }
}

/*----------------------------------------------------------------------------------------
          Set Bootstap CSS !! ONLY EDIT @MEDIA MAX-WIDTH !!
----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
          Custom CSS
----------------------------------------------------------------------------------------*/

* {
    font-size: inherit;
    line-height: normal;
    border: 0;
    backface-visibility: hidden;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
    background: #ffffff;
    color: #6d6e71;
    line-height: normal;
    font-weight: normal;
    margin: 0;
}

a {
    color: #6d6e71;
}

a:hover,
a:active,
a:focus {
    color: #7f8083;
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Helvetica Neue Bold', Arial, sans-serif;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}

.fa-heart,
.fa-shopping-cart {
    cursor: pointer;
}

.fa-shopping-cart:hover {
    color: #555;
}

.fa-heart:hover, .fa-heart.active {
    color: #f06e55;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: #ccc;
}

.num-counter,
.btn {
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
}

.btn.cancel-btn {
    background: #616161;
    color: #fff;
}

.btn.wish-btn {
    position: relative;
    text-align: center !important;
    background: #616161;
}

.btn.wish-btn:hover,
.btn.cancel-btn:hover {
    background: #555;
}

.btn.cart-btn {
    position: relative;
    text-align: center !important;
}

.btn.cart-btn i,
.btn.wish-btn i {
    position: absolute;
    left: 10px;
    font-size: 30px;
    padding: 4px;
    color: #fff;
    vertical-align: middle;
}

.btn.cart-btn span,
.btn.wish-btn span {
    vertical-align: middle;
    line-height: 38px;
    font-size: 24px;
    color: #fff;
}

.btn.btn-more {
    font-family: 'Helvetica', Arial, sans-serif;
    text-transform: lowercase;
}

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

#slideshow img {
    width: 100%;
    height: auto;
}

.cover-img {
    width: 100%;
}

.cycle-item {
    display: inline-block;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.cycle-prev,
.cycle-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #7f7f7f;
    opacity: 0.7;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.cycle-prev:hover, .cycle-next:hover {
    opacity: 1;
}

.cycle-prev i {
    font-size: 50px;
    color: #ffeb62;
    margin-left: -3px;
}

.cycle-next i {
    font-size: 50px;
    color: #ffeb62;
    margin-right: -3px;
}

.cycle-prev.disable, .cycle-next.disable {
    display: none;
}

.fonts0 {
    font-size: 0;
}

.fontss {
    font-size: 12px;
}

.fontsn {
    font-size: 14px;
}

.fontsl {
    font-size: 18px;
}

/* Temp */
@media (max-width: 767px) {
    #slide-1 .main-cycle-wrapper .cycle-item {
        width: 50%;
    }

    #slide-1 .main-cycle-wrapper .cycle-item:first-child {
        display: none;
    }

    #slide-1 .main-cycle-wrapper .cycle-item:nth-child(2) {
        display: none;
    }
}

@media (max-width: 480px) {
    #slide-1 .main-cycle-wrapper .cycle-item {
        width: 100%;
    }

    #slide-1 .main-cycle-wrapper .cycle-item:nth-child(3) {
        display: none;
    }
}

/* Temp */

/* Header */
#header .navbar-nav > li > a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

#header .navUser i.fa {
    margin-right: 5px;
}



#header .nav-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.navSearch {
    background-color: #ffffff;
}



.navSearch .navbar {
    margin-bottom: 0;
}

.navSearch .navbar-form {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 111px;
}

.navSearch .navbar-form button {
    background-color: #ffeb62;
}



.navbar-brand {
    max-width: 100%
}

.navMenu {
    background-color: #ffeb62;
    width: 100%;
    position: relative;
    text-align: center
}

.navMenu .navbar-nav, .navMenu .navbar-nav > li, .navMenu .dropdown-menu > li, .navMenu .navbar-nav > li > a, .navMenu .dropdown-menu > li > a {
    display: inline-block;
    float: none
}

.navMenu .navbar-nav {
    padding: 2px 0
}

.navMenu .dropdown {
    position: static
}

.caret, .btn .caret {
    margin-right: 5px;
    margin-left: 0
}

.navMenu .dropdown-menu {
    width: 100%;
    text-align: center;
    background-color: #4d4d4f
}

.navMenu .dropdown-menu > li > a {
    color: #fff
}

.navMenu .dropdown-menu > li > a:focus, .navMenu .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #ffeb62;
    transition: .5s
}

#collapse-category {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #4d4d4f;
    color: #fff;
    z-index: 100;
}

#collapse-category li {
    display: inline-block;
    float: none;
}

#collapse-category li > a {
    color: #fff;
}

#collapse-category li.active > a,
#collapse-category li > a:hover {
    color: #ffeb62;
}

@media (max-width: 767px) {
    #header .navMenu .main-nav .navbar-nav {
        width: 100%;
    }

    #header .navbar-toggle.collapsed {
        background-color: transparent;
    }

    #header .navbar-toggle,
    #header .navbar-toggle:hover {
        background-color: #ffcd05;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffeb62;
        z-index: 999;
    }

    #header .navbar-toggle {
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
    }

    #header .navbar-nav {
        margin: 0;
    }

    #header .navbar-nav > li {
        float: left;
    }

    #header .navbar-form .form-group,
    #header .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        padding: 15px;
    }

    #header .navSearch {
        background-color: transparent;
    }

    #header .navbar-brand {
        padding: 5px 15px;
        height: 40px;
        overflow: hidden;
    }

    #header .navbar-brand img {
        width: 100px;
    }

    #header .navbar-collapse {
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
        padding-right: 0;
        padding-left: 0;
        line-height: normal;
        background-color: #ebebeb;
    }

    #header .navbar-collapse ul > li {
        float: none;
        text-align: left;
        width: 100%;
    }
}

/* Header */


/* Home */
#home .sections {
    padding-top: 20px;
    padding-bottom: 40px;
}

#slide-1 .main-cycle-wrapper {
    position: relative;
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

#cycle-main-prev {
    left: 0;
}

#cycle-main-next {
    right: 0;
}

#home #slide-2 {
    position: relative;
    background-color: #feeb61;
}

#home #slide-2 .fTitle {
    color: #d93031;
}

#home #slide-2 .col-fTitle {
    line-height: 79px;
}

.category-list-title {
    padding: 5px 15px;
    color: #fff;
}

.category-list-title img {
    margin-right: 10px;
}

.category-list-title span {
    vertical-align: middle;
}

.category-list-title a {
    display: inline-block;
    float: right;
    line-height: 45px;
    margin-right: 5px;
}

.category-item {
    position: relative;
}

.category-item1 .category-list-title {
    background-color: #de3e39;
}

.category-item2 .category-list-title {
    background-color: #ff90a8;
}

.category-item3 .category-list-title {
    background-color: #2ecfdd;
}

.category-item4 .category-list-title {
    background-color: #ffa200;
}

@media (max-width: 767px) {
    main {
        margin-top: 60px;
    }

    .category-item {
        padding-bottom: 60px;
    }

    .category-title span {
        padding-left: 0;
        padding-right: 0;
    }

    .category-list-title a {
        position: absolute;
        width: 100px;
        bottom: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .category-item .category-list-title {
        text-align: center;
    }

    #home #slide-2 .fTitle {
        text-align: center;
        margin-bottom: 40px;
    }

    #home #slide-2 .col-fTitle {
        position: absolute;
        line-height: normal;
        bottom: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        text-align: center;
    }
}

/* Home */

/* Product Page */
.nav-category {
    margin: 20px 0;
}

.nav-category a {
    margin-right: 10px;
}

.nav-category a + a {
    margin-left: 10px;
}



.product-container > .row {
    margin-bottom: 40px;
}

.product-container .item-name,
.product-container .item-desc,
.product-container .item-ui-b .item-buycount {
    margin-bottom: 40px;
}

.product-container .btn-group,
.product-container .item-ui-a .item-counter,
.product-container .item-ui-a .item-buycount {
    margin-bottom: 20px;
}

.product-container .item-name {
    font-size: 30px;
}

.product-container .item-ui-a {
    color: #555;
}

.product-container .item-ui-a .item-counter {
    text-transform: uppercase;
}

.product-container .item-ui-a .item-counter .fNumber {
    display: inline-block;
    margin-right: 5px;
}

.product-container .item-ui-a .item-counter .fNumber + .fNumber {
    margin-left: 5px;
}

.product-container .item-ui-a .num-counter {
    margin-top: 5px;
}

.product-container .item-ui-a .num-counter span {
    display: inline-block;
    background: url(../img/ui/counterbg.png) center center repeat-x;
    background-size: cover;
    font-size: 36px;
    width: 34px;
    line-height: 51px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 2px;
    color: #fff;
    vertical-align: middle;
}

.product-container .item-ui-a .num-counter span + span {
    margin-right: 0;
}

.product-container .item-ui-a .btn-hammer {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 24px;
    height: auto;
    text-transform: uppercase;
}

.product-container .item-ui-a .btn-hammer span {
    display: inline-block;
    padding-left: 60px;
    vertical-align: middle;
}

.product-container .item-ui-a .btn-hammer img {
    position: absolute;
    left: 10px;
    max-width: 100%;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #d63d36;
}

.product-container .item-ui-b .item-price {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.product-container .item-ui-b .item-price .item-price1 {
    font-size: 30px;
    color: #de3e39;
    vertical-align: baseline;
}

.product-container .item-ui-b .item-price .item-price2 {
    font-size: 24px;
    color: #555;
    margin-left: 10px;
    text-decoration: line-through;
    vertical-align: baseline;
}

.product-container .item-ui-a .btn-group {
    width: auto;
    min-width: 50%;
}

.product-container .item-ui-b .btn-group {
    width: 50%;
    padding-right: 15px;
}

.product-container .item-ui-b .btn-group + .btn-group {
    padding-left: 15px;
    padding-right: 0;
}

.product-container .btn-group button {
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 18px;
    text-align: center;
}

.product-container .btn-group .fa-shopping-cart:hover,
.product-container .btn-group .fa-heart:hover {
    color: #fff;
}

.product-container .btn-group button i {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 24px;
    font-size: 24px;
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.product-container .btn-group button i.fa-shopping-cart {
    border-right: 1px solid #d43833;
}

.product-container .btn-group button span {
    padding-left: 40px;
}

.product-container .btn-group button.wishlist {
    background-color: #000;
    color: #fff;
}

.product-container .btn-group button.wishlist:hover {
    background-color: #333;
}

.caption-item .item-name,
.caption-item .item-desc,
.caption-item .item-counter-type > .row {
    margin-bottom: 10px;
}

.caption-item .item-name {
    font-size: 24px;
}

.caption-item .item-desc {
    font-size: 14px;
}

.caption-item .num-counter {
    margin-top: 5px;
}

.caption-item .btn-hammer {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 24px;
    height: auto;
    text-transform: uppercase;
}

.caption-item .btn-hammer span {
    display: inline-block;
    padding-left: 60px;
    vertical-align: middle;
}

.caption-item .btn-hammer img {
    position: absolute;
    left: 10px;
    max-width: 100%;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #d63d36;
}

.product-container .nav-tabs {
    border: 0;
}

.product-container .nav-tabs > li {
    text-align: center;
}

.product-container .nav-tabs > li > a {
    border-radius: 0;
    min-width: 150px;
    border: 0;
    background-color: #4d4d4f;
    color: #fff;
}

.product-container .tab-pane {
    background-color: #ebebeb;
}

.product-container .item-info {
    padding: 40px;
    color: #555;
}

.product-container .item-info p:last-child {
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    .product-container .btn-group button {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .nav-category {
        margin-top: 10px;
    }

    #home .product-item {
        margin-bottom: 40px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .product-container .item-ui-a .btn-group,
    .product-container .item-ui-b .btn-group,
    .product-container .item-ui-b .btn-group + .btn-group {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    #home .product-item {
        width: 100%;
    }
}

/* Product-item */


/* Product-carousel */
#product-carousel {
    margin-bottom: 20px;
}

#product-carousel .indicators-wrapper {
    margin-top: 10px;
    padding: 5px;
    background-color: #7f7f7f;
}

#product-carousel .carousel-indicators {
    margin: 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

#product-carousel .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: 33.3333%;
    padding: 5px;
    border: 0;
}

#product-carousel .carousel-indicators li div {
    background-color: #fff;
}

#product-carousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width: 100%;
}

#product-carousel .carousel-indicators li.active img {
    opacity: 1;
}

#product-carousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

#product-carousel .carousel-inner {
    border: 1px solid #cccccc;
}

#product-carousel .carousel-outer {
    position: relative;
}

#product-carousel .carousel-list {
    position: relative;
}

#product-carousel .carousel-control.left {
    left: 5px;
    background: none #818181;
}

#product-carousel .carousel-control.left i {
    margin-left: -4px;
}

#product-carousel .carousel-control.right {
    right: 5px;
    background: none #818181;
}

#product-carousel .carousel-control.right i {
    margin-right: -4px;
}

#product-carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 100%;
    text-align: center;
    opacity: 0.5;
}

#product-carousel .carousel-control:hover {
    opacity: 1;
}

#product-carousel .carousel-control i {
    font-size: 24px;
    line-height: 40px;
    color: #ffeb62;
}

#product-carousel .carousel-inner > .item > a > img, #product-carousel .carousel-inner > .item > img {
    width: 100%;
}

/* Product-carousel */

/*----------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------*/

.register .gwrap {
    background: #ebebeb;
    padding-top: 60px;
    padding-bottom: 60px;
}

.register .twrap,
.register .gwrap > p,
.register .gwrap > h4,
.register .gwrap > div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.register .twrap .btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.register .checkbox-inline .c-indicator {
    font-size: 14px;
    vertical-align: middle;
}

/* .main .section .nav-position */
.main {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    margin-bottom: 45px;
}

.sections {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-position a {
    margin-left: 3px;
    margin-right: 3px;
}

/* .main .section */


/* my-profile */
.my-profile-wrap {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 15px;
}

.my-profile-wrap > div + div {
    margin-top: 10px;
}

.my-profile-wrap > div > span {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 0 5px;
}

.my-profile-wrap > div > span + span {
    width: 70%;
    vertical-align: top
}

.my-profile-edit {
    display: block;
    text-align: right;
    margin-top: 10px;
}

.bid-history-wrap:after {
    content: '';
    display: table;
    clear: both;
}

@media (max-width: 767px) {
    .my-profile-wrap > div > span,
    .my-profile-wrap > div > span + span {
        width: 100%
    }

}



.process-accordion .panel-heading {
    background: #f86a5a;
    color: #fff;
}

.complete-accordion .panel-heading {
    background: #86b953;
    color: #fff;
}



.nav-tabs > li > a {
    background: #4d4d4f none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold;
    min-width: 200px;
    text-align: center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #ffeb62 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
}

.tab-content {
    padding: 15px;
    background: #ebebeb;
}

ul.product-list,
.product-list-total {
    margin: 0;
    margin-bottom: 10px;
}

.product-list-total {
    text-align: center;
}

.product-list-total span {
    margin-left: 5px;
    margin-right: 5px;
}

.product-list-addr {
    border: 2px solid #ccc;
    padding: 10px;
}

ul.product-list {
    padding: 0;
    border-bottom: 2px solid #ccc;
}

ul.product-list li {
    list-style: none;
    padding: 15px;
}

ul.product-list li:hover {
    background: #d9d9d9;
}

ul.product-list li > img {
    width: 10%;
    vertical-align: top;
}

ul.product-list li > span {
    padding-left: 5%;
    width: 50%;
    vertical-align: top;
    display: inline-block;
}

ul.product-list li > span + span {
    padding-left: 10%;
    width: 35%;
}

@media (max-width: 575px) {
    ul.product-list li > img {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    ul.product-list li > span {
        padding-left: 0;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    ul.product-list li > span + span {
        padding-left: 0;
        width: 100%;
        margin-bottom: 0;
    }
}



/* fixing csss */

.navUser {
    background-color: #ebebeb;
}

.navUser .dropdown-toggle .caret {
    margin-right: 5px;
}



/* .product-page */
.product-page .container > .row { margin-bottom: 20px; }
.product-page .carousel-inner { border: 2px solid #cccccc; }
.product-page .carousel-control.left { left: 10px }
.product-page .carousel-control.right { right: 10px; }
.product-page .carousel-indicators { position: static; width: 100%; margin-left: 0; }
.product-page .carousel-inner>.item>a>img, .product-page .carousel-inner>.item>img ,.product-page .carousel-indicators li img { width: 100%;  }
.product-page .carousel-indicators li { display: block; width: 33.33%; height: auto; text-indent: 0; margin: 0; border: 0; float: left; opacity: .5; transition: .5s;  }
.product-page .carousel-indicators li:hover, .product-page .carousel-indicators li.active { opacity: 1;}
.product-page .product-item { padding-top: 0; }
.product-page .item-name { padding:0; font-size: 180%; font-size: 180%; white-space: normal; font-weight: 600; }
.product-page .product-item .btn { max-width: 350px; }
.product-page .product-item .num-counter { max-width: 350px; margin-left: -5px; }
.product-page .product-item .num-counter span + span { color: #fff;}
.product-page .tab-content p { line-height: 1.4; }
.product-page .product-item .item-price { text-align: left; }
.product-page-modal .modal-body{ text-align: center; padding: 30px; }
@media (max-width: 767px) {
    .product-page .tab-content .row > div { margin-bottom: 20px; }
}
/* .product-page */


/* .product-item */
.item-name{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.product-item{padding:15px;}
.product-item img { max-width: 100%;  }
.product-item > img,.product-item .item-name,.product-item p,.product-item .item-bid-price,.product-item .btn,.product-item .item-ui,.product-item .item-price, .product-item .item-label{margin:0 0 10px;text-align:left;width:100%}
.product-item .item-name{padding-left:20px;padding-right:20px}
.product-item .item-label span { font-weight: bold; margin-right: 5px; }
.product-item .item-label input ,
.product-item .item-label select { padding: 5px; border: 1px solid #ccc;}
.product-item .item-ui{list-style:none;padding:0}
.product-item .item-ui:after{content:'';display:table;clear:both}
.product-item > img{height:auto;display:block;width:100%}
.product-item .item-bwrap{padding:15px;background-color:rgba(0,0,0,.5);color:#fff}
.product-item .item-gwrap{ padding:15px;background-color:#ebebeb; display:inline-block; }
.product-item .item-gwrap img {max-width: 100%;}
.product-item .item-bwrap p{margin-top:0;margin-bottom:10px}
.product-item .btn-hammer{position:relative;text-align:center}
.product-item .btn-hammer img{vertical-align:middle;position:absolute;left:10px}
.product-item .btn-hammer span{vertical-align:middle;line-height:38px;font-size:24px}
.product-item .num-counter{padding:0;margin:0 -2% 10px;list-style:none;text-align:center}
.product-item .num-counter li{width:25%;padding-left:5px;padding-right:5px;float:left}
.product-item .num-counter li span{display:block;width:100%}
.product-item .num-counter li span + span{display:block;width:46%;float:left;background:url(../img/ui/counterbg.png) center center repeat-x;margin:0 2%;font-size:30px;margin-top:5px}
.product-item.bid-type .item-ui li,.product-item.cart-type .item-ui li{float:left;list-style:none;margin:0}
.product-item.bid-type .item-ui li+li{float:right}
.product-item.cart-type .item-ui li{width:33.33%;text-align:center}
.product-item.cart-type .item-ui li + li{border-left:1px solid #ababab}
.product-item.cart-type .item-ui li > i{margin:0 3px}
.product-item .item-price{text-align:center}
.product-item .item-price span{margin-right:5px;font-size:180%;color:#de3e39}
.product-item .item-price span + span{margin-left:5px;font-size:130%;color:#6d6e71;margin-right:0;text-decoration:line-through}

.product-item .rwrap ,
.product-item .gwrap { padding: 0; margin: 0 0 10px 0; text-align: center; }
.product-item .rwrap li ,
.product-item .gwrap li { background: #dedede; list-style: none; padding: 10px; }
.product-item .rwrap li + li,
.product-item .gwrap li + li { background: #f86a5a; color: #fff; border-top: 1px solid #ccc; }
.product-item .gwrap li + li { background: #86b953; }
/* .product-item */

.product-item .rwrap ,
.product-item .gwrap { padding: 0; margin: 0 0 10px 0; text-align: center; }
.product-item .rwrap li ,
.product-item .gwrap li { background: #dedede; list-style: none; padding: 10px; }
.product-item .rwrap li + li,
.product-item .gwrap li + li { background: #f86a5a; color: #fff; border-top: 1px solid #ccc; }
.product-item .gwrap li + li { background: #86b953; }
/* .product-item */


/* .home */
.carousel-control{width:40px;height:40px;margin-top:auto;margin-bottom:auto;border-radius:100%;text-align:center;opacity:.8;}
.carousel-control i{font-size:24px;line-height:40px;color:#ffeb62}
.carousel-control.left, .carousel-control.right{background:none #818181}
.carousel-control.left i{margin-left:-4px}
.carousel-control.right i{margin-right:-4px}
.home .carousel{max-width:1920px;width:100%;overflow:hidden}
.home .carousel-wrap{position:relative}
.home .carousel-caption{position:absolute;top:0;bottom:0;left:0;right:0;max-width:1080px;margin:0 auto}
.home .caption-item{position:absolute;background-color:rgba(0,0,0,.5);border-top:4px solid #ffeb62;max-width:360px;top:80px;right:15px}
.home .carousel .product-item{padding:40px 20px 20px}
.home .caption-item .item-name{margin-bottom:10px;padding:0;font-size:24px;text-align:left}
.home .caption-item .bid-type .num-counter li span + span{font-size:32px;margin-top:5px;line-height:50px;height:50px}
.home .indicators-wrapper{margin-left:-10px;margin-right:-10px}
.home .carousel-indicators{position:static;width:100%;max-width:1280px;margin:40px auto}
.home .carousel-indicators li{width:33.333%;height:auto;overflow:hidden;float:left;text-indent:0;display:block;margin:0;border-radius:0;z-index:9;opacity:.6}
.home .carousel-indicators li.active,.home .carousel-indicators li:hover{opacity:1}
.home .carousel-indicators li img{max-width:100%;width:100%;height:auto;padding:0 10px}
.home .carousel-inner>.item>a>img,.home .carousel-inner>.item>img{max-width:none;position:relative;left:50%;-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,0);transform:translate(-50%,0)}
.home .carousel-control:hover{opacity:1}
.home .carousel-control.left{left:10px}
.home .carousel-control.right{right:10px}
.home .recommend{background:#ffeb62}
.home .recommend h1{color:#d93031}
.home .category{background:#f1f1f1}
.category .category-wrap{position:relative}
h1.category-title{position:relative;text-align:center}
h1.category-title span{position:relative;padding:0 20px;background:#f1f1f1;color:#d93031}
h1.category-title:before{content:'';display:block;width:100%;height:4px;position:absolute;top:0;bottom:0;background:#ababab;margin-top:auto;margin-bottom:auto}
h2.category-title{padding:0 10px;color:#fff;background:#de3e39;line-height:48px;vertical-align:middle}
h2.category-title img{vertical-align:middle;padding-right:10px}
h2.category-title .btn{float:right;margin:8.5px 10px; }
h2.category-title.category-1{background:#de3e39}
h2.category-title.category-2{background:#ff90a8}
h2.category-title.category-3{background:#ff90a8}
h2.category-title.category-4{background:#ffa200}
@media (max-width: 767px) {
    h1.category-title span{display:block;padding:0 10px}
    h2.category-title .btn{position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;width:100px}
    .home .carousel-caption,.home .caption-item{position:static;padding-top:0;width:100%;margin:0 auto}
    .category .category-wrap{padding-bottom:40px}
}
/* .home */


/* .header .footer */
.container>.navbar-collapse{margin-right:-15px!important;margin-left:-15px!important}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px}
.navbar-nav>li>a:focus,.navbar-nav>li>a:hover{background-color:transparent;color:#555;transition:.5s}
.navbar-nav>li>a>i{margin-right:5px}
.navUser{background-color:#ebebeb}
.navSearch .navbar{margin-bottom:0}
.navSearch .btn.btn-default { background:#ffeb62; }
.navSearch input{max-width:230px; width: 80%; display:inline-block;vertical-align:bottom}
.navSearch .navbar-nav{line-height:94px}
.navbar-brand{max-width:100%}
.navMenu{background-color:#ffeb62;width:100%;position:relative;text-align:center}
.navMenu .navbar-nav,.navMenu .navbar-nav>li,.navMenu .dropdown-menu>li,.navMenu .navbar-nav>li>a,.navMenu .dropdown-menu>li>a{display:inline-block;float:none}
.navMenu .navbar-nav {padding: 2px 0}
.navMenu .dropdown{position:static}
.caret,.btn .caret{margin-right:5px;margin-left:0}
.navMenu .dropdown-menu{width:100%;text-align:center;background-color:#4d4d4f}
.navMenu .dropdown-menu > li > a{color: #fff}
.navMenu .dropdown-menu>li>a:focus, .navMenu .dropdown-menu>li>a:hover{background-color:transparent;color:#ffeb62;transition:.5s}
.header{position:relative;width:100%;}
.footer{ position:fixed; left: 0; bottom: 0; width: 100%; background-color:#5d5d5f;padding:5px 15px;color:#fff}
.footer .fleft{line-height:34px}
.footer li{display:inline-block;list-style:none;padding:5px 10px;cursor:pointer}
.footer li + li{border-left:2px solid #9c9c9c}
.footer li img{margin-right:5px; margin-left: 5px}
@media (max-width: 767px) {
    .header{background-color:#ffeb62; position: fixed; top: 0; left: 0; z-index: 100}
    .main { margin-top: 49px;  }
    .navbar-brand{height:49px;padding:0;overflow:hidden}
    .navbar-brand>img{width:100px;margin-top:10px}
    .navbar-toggle{padding:15px;margin:0}
    .navbar-toggle,.navbar-toggle:hover,.navbar-toggle.collapsed:hover{background-color:#ffcd05}
    .navbar-toggle.collapsed{background-color:transparent}
    .nav-btn{position:absolute;top:0;right:15px}
    .navbar-collapse{position:absolute;top:100%;left:0;right:0;width:100%;margin:0!important;background-color:#ebebeb}
    .navSearch .navbar-nav{line-height:normal}
    .navMenu{text-align:left}
    .navMenu .navbar-nav li{float:none;width:100%;padding:0 5px}
    .navMenu .open .dropdown-menu{width:100%;text-align:left;background-color:#4d4d4f}
    .footer .row > div{margin-right:0;margin-left:0}
    .footer li span { display: none; }
    .container>.navbar-collapse{margin-right:0!important;margin-left:0!important;}
}
/* .header .footer */


.h1, h1 {
    font-size: 36px;
}




/* .personal */
.personal .personal-menu { padding: 0;  }
.personal .personal-menu li { width: 100%; border-right: 0; }
.personal .personal-menu li a {margin-right: 0;color: #fff; }
.personal .personal-menu li.active a { position: relative; color:#555; }
.personal .personal-menu li.active a:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #ffeb62;
    top: 0;
    left: 100%;
    z-index: 1;
}
.personal .personal-content { padding-right: 15px; margin-left: 0; }
.personal .personal-content h3 { margin-top: 0; text-align: center; }
@media (max-width: 991px) {
    .personal .personal-menu{ padding: 0; }
    .personal .personal-menu li.active a { box-shadow: 0 0 0; }
    .personal .personal-menu li.active a:after{ display: none; }
}
.personal .history-menu { /*margin-right: -15px; margin-bottom: 10px; margin-left: -15px;*/ padding: 0; border-bottom: 0; }

.personal .history-menu >li { margin-bottom: 0; }
.personal .history-menu >li>a { color: #fff; }
.personal .history-menu >li.active>a,
.personal .history-menu >li.active>a:focus,
.personal .history-menu >li.active>a:hover { background: #4c8cb6; color: #fff; }

.personal .history-menu >li.active.bid-menu-1>a,
.personal .history-menu >li.active.bid-menu-1>a:focus,
.personal .history-menu >li.active.bid-menu-1>a:hover { background-color: #f86a5a; }

.personal .history-menu >li.active.bid-menu-2>a,
.personal .history-menu >li.active.bid-menu-2>a:focus,
.personal .history-menu >li.active.bid-menu-2>a:hover { background-color: #86b953; }

.personal .product-item .num-counter li span + span { color: #fff }


.personal .history-content { padding: 0; border-top: 2px solid #ccc; margin-top: 15px; width: 100%; }
.personal .history-content .wwrap {    background-color: #fff; padding: 15px;}
.personal .history-content .wwrap>img { max-width: none; width: 100%; }
.personal .history-content .product-item img { margin-bottom: 10px; }
.personal .product-item .btn { text-align: center; }
@media (max-width: 767px) {
    .personal .history-menu >li { padding-left: 0; padding-right: 0 }
    .personal .history-menu >li>a{ min-width: 0; }
}

.personal .panel-group { padding-left: 15px; padding-right: 15px; }
.personal .panel-heading,
.personal .panel-group .panel { border-radius: 0; margin-top: 0; }
.personal .panel-heading:after { content: ''; display: table; clear:both; }
.personal .history-menu > li.active.bid-menu-2 > a, .personal .history-menu > li.active.bid-menu-2 > a:focus, .personal .history-menu > li.active.bid-menu-2 > a:hover {
    background-color: #86b953;
}

.product-page-modal .modal-body { position: relative; text-align: center; padding: 30px; }
.product-page-modal .modal-body .credit-rm { background-color: #ebebeb; padding: 15px; margin-top: 20px; }
.product-page-modal .modal-body .credit-list { padding: 0; }
.product-page-modal .modal-body .credit-list  li {  list-style: none;margin-top: 10px; padding: 0 50px; }
.product-page-modal .modal-body .credit-list  li:before,
.product-page-modal .modal-body .credit-list  li:after { display: table; content: ''; clear: both; }
.product-page-modal .modal-body .credit-list  li div { line-height: 42px; }
.product-page-modal .modal-body .credit-list  li div:first-child:before { position: absolute; width: 42px; height: 42px; top: 0 ; left: -42px;  content:url('../img/ui/credits2.png'); clear: both; }
.product-page-modal .modal-body a.close { position: absolute; right: 30px; top: 20px; }

.product-page-modal .modal-body ul>li:hover {
    background-color: #ebebeb;
    cursor: pointer;
}